<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Teste</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">App</a>
    </nav>
    <div class="container mt-4">
        <% if (msg) { %>
            <div class="alert alert-primary"><%=msg %></div>
        <% } %>
        <div class="jumbotron">
            <h1>Bem vindo ao nosso app</h1>
            <small>Se já cadastrou entre</small><br>
            <a href="/login"><button class="btn btn-success mt-2">Login</button></a><br>
            <small>Se ainda não cadastrou cadastre</small><br>
            <a href="/register"><button class="btn btn-success mt-2">Registro de usuario</button></a>
        </div>
        
    </div>

</body>
<script src="/js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</html>